/* Same as contact.css for header, footer, and general styles */

.full-image-section {
    background: url('./sinsail.png') center/cover no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.form-section {
    background: #333;
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.input-field {
    width: 48%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.input-field i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #FFD700;
}

.input-field label {
    margin-left: 35px;
}

.input-field input {
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #050404;
    font-size: 14px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button:hover {
    background-color: #333;
    color: white;
}